// Header

// Nav bar (menu)
.navbar-custom .custom-menu {
    @include mq(small) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        li > a {
            &:hover, &:focus, &:active {
                color: $orange!important;
            }
        }
    }    
}
.navbar-custom .custom-menu li a {
    border-bottom: 2px solid transparent;
    color: #000;
    font-size: 15px;
    font-weight: 400;
    padding: 0 10px 2px;
    margin: 10px 15px 5px;
    transition: all 0.5s;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}
.navbar-custom .container {
    max-width: 1170px;
}
// Nav bar (telephone)
.telephone-container {
    a {
        text-decoration: none;
    }
    @include mq-max(medium-large) {
        display: none;
    }
    .llamanos, .llamanos-numero {
        color: $gray;
        font-family: MarkPro-Bold;
        font-weight: bold;        
    }
    .llamanos {
        font-size: 15px;
        letter-spacing: 3.5px;
    }
    .llamanos-numero {
        font-size: 25px;
        margin-top: -5px;
        margin-top: -10px;
        line-height: 18px;
    }
    &:hover {
        .llamanos,.llamanos-numero {
            color: $orange;
            transition: $transition;
        }
    }
}
// Nav bar dropdown
.navbar-default .navbar-collapse {
    background-color: $white;
}
.navbar .dropdown-menu {
    display: none;
}  
.navbar .dropdown:hover .dropdown-menu {
    display: block;    
}
.dropdown-item:hover {
    background-color: transparent;
}
// NAVBAR LOGO
.navbar-custom .navbar-brand img {
    max-width: 7rem;
}