@font-face {
  font-family: 'MarkPro-Bold';
  src: url('../fonts/MarkPro-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'effra';
  src: url('../fonts/effra-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'MarkPro-Ligth';
  src: url('../fonts/MarkPro-Ligth.ttf') format('truetype');
}